*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#bd{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
#stad{
    margin:40px;
    padding:20px;
    height:920px;
    width:90%;
    /* border:2px solid #000; */
    background-color: #fff;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition:0.5s;
}
#head{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:40px;
    margin-bottom:15px;
    /* padding:10px; */
}
.lin{
  background-color: blue;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom:10px;
}

.lin:hover{
    background-color: green;
    color:white;
}
.at {
    height:350px;
    overflow-y: scroll;
}

#tab{
    height:720px;
    overflow-y: scroll;
}

#tabl{
    height:520px;
    overflow-y: scroll;
}
