*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#bd{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}
#stad{
    margin:40px;
    padding:20px;
    height:950px;
    width:90%;
    background-color: #fff;
}
#hm{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
    min-height:91.7vh;
}
#stadi{
    margin:40px;
    padding:20px;
    min-height:90vh;
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition:0.5s;
}
#pic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height:400px;
    width:95%;
    margin:20px;
}
#con{
    width:80%;
}
#pic lottie-player{
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
    margin:10px;
}
#head{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:40px;
    margin-bottom:25px;
    margin-top:15px;
    /* padding:10px; */
}
.lin{
  background-color: blue;
  color: white;
  /* padding: 14px 25px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left:10px;
  /* height:50px; */
  padding:10px;
}

.lin:hover{
    background-color: green;
    color:white;
}
.at {
    height:350px;
    overflow-y: scroll;
}

#tab{
    height:720px;
    overflow-y: scroll;
}

#tabl{
    height:520px;
    overflow-y: scroll;
}
